*.jed
*.xml
*.log
*.bld
*.cmd_log
*.gyd
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.vm6
*.xst
*_build.xml
*.html
*.csv
*.xrpt
iseconfig/
SP4_Octane_html/
_ngo/
_xmsgs/
tmperr.err
*.gise
xlnx_auto_0_xdb/
xst/


